src/main/resources/PushSanaV5.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:tns="http://servicebus.sana.ir/PushSana/v5/"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        name="PushSanaV5Service"
        targetNamespace="http://servicebus.sana.ir/PushSana/v5/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicebus.sana.ir/PushSana/v5/"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://servicebus.sana.ir/PushSana/v5/">
            <xs:element name="cancelRequest" type="tns:cancelRequest"/>
            <xs:element name="cancelRequestResponse" type="tns:cancelRequestResponse"/>
            <xs:element name="finishRequest" type="tns:finishRequest"/>
            <xs:element name="finishRequestResponse" type="tns:finishRequestResponse"/>
            <xs:element name="getRequestsStatus" type="tns:getRequestsStatus"/>
            <xs:element name="getRequestsStatusResponse" type="tns:getRequestsStatusResponse"/>
            <xs:element name="reserveSanaInfo" type="tns:reserveSanaInfo"/>
            <xs:element name="reserveSanaInfoResponse" type="tns:reserveSanaInfoResponse"/>
            <xs:element name="sendAccGroupsCodeList" type="tns:sendAccGroupsCodeList"/>
            <xs:element name="sendAccGroupsCodeListResponse" type="tns:sendAccGroupsCodeListResponse"/>
            <xs:element name="sendAccVouchers" type="tns:sendAccVouchers"/>
            <xs:element name="sendAccVouchersResponse" type="tns:sendAccVouchersResponse"/>
            <xs:element name="sendAccountFlows" type="tns:sendAccountFlows"/>
            <xs:element name="sendAccountFlowsResponse" type="tns:sendAccountFlowsResponse"/>
            <xs:element name="sendBankAccounts" type="tns:sendBankAccounts"/>
            <xs:element name="sendBankAccountsResponse" type="tns:sendBankAccountsResponse"/>
            <xs:element name="sendCostCenters" type="tns:sendCostCenters"/>
            <xs:element name="sendCostCentersResponse" type="tns:sendCostCentersResponse"/>
            <xs:element name="sendDetailedAccCode1s" type="tns:sendDetailedAccCode1s"/>
            <xs:element name="sendDetailedAccCode1sResponse" type="tns:sendDetailedAccCode1sResponse"/>
            <xs:element name="sendDetailedAccCode2s" type="tns:sendDetailedAccCode2s"/>
            <xs:element name="sendDetailedAccCode2sResponse" type="tns:sendDetailedAccCode2sResponse"/>
            <xs:element name="sendDetailedAccCode3s" type="tns:sendDetailedAccCode3s"/>
            <xs:element name="sendDetailedAccCode3sResponse" type="tns:sendDetailedAccCode3sResponse"/>
            <xs:element name="sendDetailedAccCode4s" type="tns:sendDetailedAccCode4s"/>
            <xs:element name="sendDetailedAccCode4sResponse" type="tns:sendDetailedAccCode4sResponse"/>
            <xs:element name="sendDetailedAccCode5s" type="tns:sendDetailedAccCode5s"/>
            <xs:element name="sendDetailedAccCode5sResponse" type="tns:sendDetailedAccCode5sResponse"/>
            <xs:element name="sendGeneralAccCodes" type="tns:sendGeneralAccCodes"/>
            <xs:element name="sendGeneralAccCodesResponse" type="tns:sendGeneralAccCodesResponse"/>
            <xs:element name="sendIncomes" type="tns:sendIncomes"/>
            <xs:element name="sendIncomesResponse" type="tns:sendIncomesResponse"/>
            <xs:element name="sendLedgerAccCodes" type="tns:sendLedgerAccCodes"/>
            <xs:element name="sendLedgerAccCodesResponse" type="tns:sendLedgerAccCodesResponse"/>
            <xs:element name="sendOrganizations" type="tns:sendOrganizations"/>
            <xs:element name="sendOrganizationsResponse" type="tns:sendOrganizationsResponse"/>
            <xs:element name="sendPlans" type="tns:sendPlans"/>
            <xs:element name="sendPlansResponse" type="tns:sendPlansResponse"/>
            <xs:element name="sendPrograms" type="tns:sendPrograms"/>
            <xs:element name="sendProgramsResponse" type="tns:sendProgramsResponse"/>
            <xs:element name="sendProjects" type="tns:sendProjects"/>
            <xs:element name="sendProjectsResponse" type="tns:sendProjectsResponse"/>
            <xs:complexType name="sendIncomes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="incomes" type="tns:income"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="income">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="incomeCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="incomeTitle" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="data">
                <xs:sequence>
                    <xs:element minOccurs="0" name="uniqueId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendIncomesResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendPrograms">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="programs" type="tns:program"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="program">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="progCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="progTitle" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendProgramsResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getRequestsStatus">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getRequestsStatusResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sanaRequestStatus"
                                type="tns:sanaRequestStatus"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sanaRequestStatus">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                    <xs:element minOccurs="0" name="status" type="tns:status"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendAccGroupsCodeList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="accGroupsCodes" type="tns:accGroupsCode"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="accGroupsCode">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="accGroupsTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="code" type="xs:string"/>
                            <xs:element minOccurs="0" name="divanAccGroupsCode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendAccGroupsCodeListResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendCostCenters">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="costCenters" type="tns:costCenter"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="costCenter">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="costcenterCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="costcenterName" type="xs:string"/>
                            <xs:element minOccurs="0" name="costcenterType" type="xs:string"/>
                            <xs:element minOccurs="0" name="description" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendCostCentersResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cancelRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cancelRequestResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="sendOrganizations">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="organizations" type="tns:organization"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="organization">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="orgTitle" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendOrganizationsResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendGeneralAccCodes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="generalAccCodes" type="tns:generalAccCode"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generalAccCode">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="divanGnrlAccCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="gnrlAccTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="gnrlaccCode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendGeneralAccCodesResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendProjects">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="projects" type="tns:project"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="project">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="endDate" type="xs:string"/>
                            <xs:element minOccurs="0" name="planCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="predictedTotalCrd" type="xs:long"/>
                            <xs:element minOccurs="0" name="projectTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="projectcode" type="xs:string"/>
                            <xs:element minOccurs="0" name="startDate" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendProjectsResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendBankAccounts">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bankAccounts" type="tns:bankAccount"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bankAccount">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="bankAccCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="bankAccNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="bankName" type="xs:string"/>
                            <xs:element minOccurs="0" name="bankbranchNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_hesab_banki" type="xs:int"/>
                            <xs:element minOccurs="0" name="shaba" type="xs:string"/>
                            <xs:element minOccurs="0" name="shobe_bank" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendBankAccountsResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode1s">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detailedAccCode1s"
                                type="tns:detailedAccCode1"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="detailedAccCode1">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailedAccCode1" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAccTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="ledgerAcccode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode1sResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendPlans">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="plans" type="tns:plan"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="plan">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="endDate" type="xs:string"/>
                            <xs:element minOccurs="0" name="planCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="planTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="predictedTotalCrd" type="xs:long"/>
                            <xs:element minOccurs="0" name="startDate" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendPlansResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="reserveSanaInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="protocolId" type="tns:protocolId"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="protocolId">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="divanOrgCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="endDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="orgCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="orgTitle" type="xs:string"/>
                    <xs:element minOccurs="0" name="producerName" type="xs:string"/>
                    <xs:element minOccurs="0" name="producerRole" type="xs:string"/>
                    <xs:element minOccurs="0" name="protocolName" type="xs:string"/>
                    <xs:element minOccurs="0" name="provinceName" type="xs:string"/>
                    <xs:element minOccurs="0" name="repDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="repTime" type="xs:string"/>
                    <xs:element minOccurs="0" name="startDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="reserveSanaInfoResponse">
                <xs:sequence>
                    <xs:element name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode2s">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detailedAccCode2s"
                                type="tns:detailedAccCode2"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="detailedAccCode2">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailedAccCode2" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAccTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="ledgerAcccode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode2sResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode3s">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detailedAccCode3s"
                                type="tns:detailedAccCode3"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="detailedAccCode3">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailedAccCode3" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAccTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="ledgerAcccode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode3sResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode4s">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detailedAccCode4s"
                                type="tns:detailedAccCode4"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="detailedAccCode4">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailedAccCode4" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAccTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="ledgerAcccode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode4sResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode5s">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="detailedAccCode5s"
                                type="tns:detailedAccCode5"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="detailedAccCode5">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailedAccCode5" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAccTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="ledgerAcccode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendDetailedAccCode5sResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="finishRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="finishRequestResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="sendAccountFlows">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="accountFlows" type="tns:accountFlow"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="accountFlow">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="actorName" type="xs:string"/>
                            <xs:element minOccurs="0" name="bankAccNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="bankBranchNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="bankName" type="xs:string"/>
                            <xs:element minOccurs="0" name="creditor" type="xs:long"/>
                            <xs:element minOccurs="0" name="debtor" type="xs:long"/>
                            <xs:element minOccurs="0" name="description" type="xs:string"/>
                            <xs:element minOccurs="0" name="itemDate" type="xs:string"/>
                            <xs:element minOccurs="0" name="itemNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="remaind" type="xs:long"/>
                            <xs:element minOccurs="0" name="transactionType" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendAccountFlowsResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendLedgerAccCodes">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ledgerAccCodes" type="tns:ledgerAccCode"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ledgerAccCode">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="divanLedgerAcccode" type="xs:string"/>
                            <xs:element minOccurs="0" name="gnrlAccCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="ledgerAccTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="ledgerAcccode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendLedgerAccCodesResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendAccVouchers">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="accVouchers" type="tns:accVoucher"/>
                    <xs:element minOccurs="0" name="sanaId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="accVoucher">
                <xs:complexContent>
                    <xs:extension base="tns:data">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="articleDesc" type="xs:string"/>
                            <xs:element minOccurs="0" name="atfNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="attachmentNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="bankacccode" type="xs:string"/>
                            <xs:element minOccurs="0" name="chapternum" type="xs:string"/>
                            <xs:element minOccurs="0" name="chequeDate" type="xs:string"/>
                            <xs:element minOccurs="0" name="chequeNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="cocode" type="xs:string"/>
                            <xs:element minOccurs="0" name="code_Noe_shakhs" type="xs:string"/>
                            <xs:element minOccurs="0" name="contractNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="contractTitle" type="xs:string"/>
                            <xs:element minOccurs="0" name="crdReciporgcode" type="xs:string"/>
                            <xs:element minOccurs="0" name="crdorgcode" type="xs:string"/>
                            <xs:element minOccurs="0" name="crdsource" type="xs:string"/>
                            <xs:element minOccurs="0" name="creditor" type="xs:string"/>
                            <xs:element minOccurs="0" name="debtor" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAcccode1" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAcccode2" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAcccode3" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAcccode4" type="xs:string"/>
                            <xs:element minOccurs="0" name="detailedAcccode5" type="xs:string"/>
                            <xs:element minOccurs="0" name="divanGnrlAccCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="divanLedgerAccCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="dolati" type="xs:string"/>
                            <xs:element minOccurs="0" name="dore_etebar" type="xs:string"/>
                            <xs:element minOccurs="0" name="dore_maliyat" type="xs:string"/>
                            <xs:element minOccurs="0" name="draftdate" type="xs:string"/>
                            <xs:element minOccurs="0" name="draftnum" type="xs:string"/>
                            <xs:element minOccurs="0" name="fiscalYear" type="xs:int"/>
                            <xs:element minOccurs="0" name="gnrlAccCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="inclusion" type="xs:string"/>
                            <xs:element minOccurs="0" name="kasri_abvabjamee" type="xs:string"/>
                            <xs:element minOccurs="0" name="ledgerAccCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="madde" type="xs:string"/>
                            <xs:element minOccurs="0" name="mahiyat_seporde" type="xs:string"/>
                            <xs:element minOccurs="0" name="manba_daryaft" type="xs:string"/>
                            <xs:element minOccurs="0" name="mojavez_khas" type="xs:string"/>
                            <xs:element minOccurs="0" name="moshakhasat_etebar" type="xs:string"/>
                            <xs:element minOccurs="0" name="mozoo_bedehi" type="xs:string"/>
                            <xs:element minOccurs="0" name="mozoo_tadilat_sanavati" type="xs:string"/>
                            <xs:element minOccurs="0" name="mozoo_tazmin" type="xs:string"/>
                            <xs:element minOccurs="0" name="n_oragh_bahadar" type="xs:string"/>
                            <xs:element minOccurs="0" name="n_s_daryaft_dolat" type="xs:string"/>
                            <xs:element minOccurs="0" name="nationalid" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_bime" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_daryaft" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_etebar" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_mahal_etebar" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_sarmayegozari" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_sayer_manbae" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_tarh" type="xs:string"/>
                            <xs:element minOccurs="0" name="noe_tazmin" type="xs:string"/>
                            <xs:element minOccurs="0" name="pardakht_gh_ghate" type="xs:string"/>
                            <xs:element minOccurs="0" name="plancode" type="xs:string"/>
                            <xs:element minOccurs="0" name="progcode" type="xs:string"/>
                            <xs:element minOccurs="0" name="projectcode" type="xs:string"/>
                            <xs:element minOccurs="0" name="recipientName" type="xs:string"/>
                            <xs:element minOccurs="0" name="seconder" type="xs:string"/>
                            <xs:element minOccurs="0" name="sh_m_mozayede" type="xs:string"/>
                            <xs:element minOccurs="0" name="tabaghe_daraei_sabet" type="xs:string"/>
                            <xs:element minOccurs="0" name="tabaghe_mojodiha" type="xs:string"/>
                            <xs:element minOccurs="0" name="tabaghebandi_h" type="xs:string"/>
                            <xs:element minOccurs="0" name="vaziat_motalebat" type="xs:string"/>
                            <xs:element minOccurs="0" name="voucherDate" type="xs:string"/>
                            <xs:element minOccurs="0" name="voucherDesc" type="xs:string"/>
                            <xs:element minOccurs="0" name="voucherNum" type="xs:int"/>
                            <xs:element minOccurs="0" name="voucherRowNum" type="xs:string"/>
                            <xs:element minOccurs="0" name="voucherStatus" type="xs:string"/>
                            <xs:element minOccurs="0" name="voucherType" type="xs:string"/>
                            <xs:element minOccurs="0" name="cOSTCENTERCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="iNCOMECODE" type="xs:string"/>
                            <xs:element minOccurs="0" name="rOWCODE" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="sendAccVouchersResponse">
                <xs:sequence>
                    <xs:element name="count" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="status">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="open"/>
                    <xs:enumeration value="finish"/>
                    <xs:enumeration value="cancel"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="InternalServerException" type="tns:InternalServerException"/>
            <xs:complexType name="InternalServerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="DataNotFoundException" type="tns:DataNotFoundException"/>
            <xs:complexType name="DataNotFoundException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="RequestNotOpenException" type="tns:RequestNotOpenException"/>
            <xs:complexType name="RequestNotOpenException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AccessException" type="tns:AccessException"/>
            <xs:complexType name="AccessException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="OpenSanaInfoExistException" type="tns:OpenSanaInfoExistException"/>
            <xs:complexType name="OpenSanaInfoExistException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="MisMatchNationalCodeException" type="tns:MisMatchNationalCodeException"/>
            <xs:complexType name="MisMatchNationalCodeException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sendAccVouchersResponse">
        <wsdl:part element="tns:sendAccVouchersResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendOrganizationsResponse">
        <wsdl:part element="tns:sendOrganizationsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendBankAccountsResponse">
        <wsdl:part element="tns:sendBankAccountsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode1sResponse">
        <wsdl:part element="tns:sendDetailedAccCode1sResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendAccGroupsCodeListResponse">
        <wsdl:part element="tns:sendAccGroupsCodeListResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendAccountFlowsResponse">
        <wsdl:part element="tns:sendAccountFlowsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendGeneralAccCodes">
        <wsdl:part element="tns:sendGeneralAccCodes" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="OpenSanaInfoExistException">
        <wsdl:part element="tns:OpenSanaInfoExistException" name="OpenSanaInfoExistException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="InternalServerException">
        <wsdl:part element="tns:InternalServerException" name="InternalServerException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendLedgerAccCodesResponse">
        <wsdl:part element="tns:sendLedgerAccCodesResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode3sResponse">
        <wsdl:part element="tns:sendDetailedAccCode3sResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendGeneralAccCodesResponse">
        <wsdl:part element="tns:sendGeneralAccCodesResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode1s">
        <wsdl:part element="tns:sendDetailedAccCode1s" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="reserveSanaInfo">
        <wsdl:part element="tns:reserveSanaInfo" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode3s">
        <wsdl:part element="tns:sendDetailedAccCode3s" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode5s">
        <wsdl:part element="tns:sendDetailedAccCode5s" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendIncomesResponse">
        <wsdl:part element="tns:sendIncomesResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="reserveSanaInfoResponse">
        <wsdl:part element="tns:reserveSanaInfoResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendIncomes">
        <wsdl:part element="tns:sendIncomes" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelRequestResponse">
        <wsdl:part element="tns:cancelRequestResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendPrograms">
        <wsdl:part element="tns:sendPrograms" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="finishRequestResponse">
        <wsdl:part element="tns:finishRequestResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MisMatchNationalCodeException">
        <wsdl:part element="tns:MisMatchNationalCodeException" name="MisMatchNationalCodeException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRequestsStatus">
        <wsdl:part element="tns:getRequestsStatus" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendAccGroupsCodeList">
        <wsdl:part element="tns:sendAccGroupsCodeList" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AccessException">
        <wsdl:part element="tns:AccessException" name="AccessException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode5sResponse">
        <wsdl:part element="tns:sendDetailedAccCode5sResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendCostCenters">
        <wsdl:part element="tns:sendCostCenters" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode2sResponse">
        <wsdl:part element="tns:sendDetailedAccCode2sResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelRequest">
        <wsdl:part element="tns:cancelRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendCostCentersResponse">
        <wsdl:part element="tns:sendCostCentersResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendOrganizations">
        <wsdl:part element="tns:sendOrganizations" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendProjects">
        <wsdl:part element="tns:sendProjects" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DataNotFoundException">
        <wsdl:part element="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="RequestNotOpenException">
        <wsdl:part element="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendProgramsResponse">
        <wsdl:part element="tns:sendProgramsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendBankAccounts">
        <wsdl:part element="tns:sendBankAccounts" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendPlans">
        <wsdl:part element="tns:sendPlans" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRequestsStatusResponse">
        <wsdl:part element="tns:getRequestsStatusResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode2s">
        <wsdl:part element="tns:sendDetailedAccCode2s" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendPlansResponse">
        <wsdl:part element="tns:sendPlansResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode4s">
        <wsdl:part element="tns:sendDetailedAccCode4s" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="finishRequest">
        <wsdl:part element="tns:finishRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendAccountFlows">
        <wsdl:part element="tns:sendAccountFlows" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendLedgerAccCodes">
        <wsdl:part element="tns:sendLedgerAccCodes" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendDetailedAccCode4sResponse">
        <wsdl:part element="tns:sendDetailedAccCode4sResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendAccVouchers">
        <wsdl:part element="tns:sendAccVouchers" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendProjectsResponse">
        <wsdl:part element="tns:sendProjectsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PushSanaV5">
        <wsdl:operation name="sendIncomes">
            <wsdl:input message="tns:sendIncomes" name="sendIncomes"></wsdl:input>
            <wsdl:output message="tns:sendIncomesResponse" name="sendIncomesResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendPrograms">
            <wsdl:input message="tns:sendPrograms" name="sendPrograms"></wsdl:input>
            <wsdl:output message="tns:sendProgramsResponse" name="sendProgramsResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsStatus">
            <wsdl:input message="tns:getRequestsStatus" name="getRequestsStatus"></wsdl:input>
            <wsdl:output message="tns:getRequestsStatusResponse" name="getRequestsStatusResponse"></wsdl:output>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendAccGroupsCodeList">
            <wsdl:input message="tns:sendAccGroupsCodeList" name="sendAccGroupsCodeList"></wsdl:input>
            <wsdl:output message="tns:sendAccGroupsCodeListResponse" name="sendAccGroupsCodeListResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendCostCenters">
            <wsdl:input message="tns:sendCostCenters" name="sendCostCenters"></wsdl:input>
            <wsdl:output message="tns:sendCostCentersResponse" name="sendCostCentersResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelRequest">
            <wsdl:input message="tns:cancelRequest" name="cancelRequest"></wsdl:input>
            <wsdl:output message="tns:cancelRequestResponse" name="cancelRequestResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendOrganizations">
            <wsdl:input message="tns:sendOrganizations" name="sendOrganizations"></wsdl:input>
            <wsdl:output message="tns:sendOrganizationsResponse" name="sendOrganizationsResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendGeneralAccCodes">
            <wsdl:input message="tns:sendGeneralAccCodes" name="sendGeneralAccCodes"></wsdl:input>
            <wsdl:output message="tns:sendGeneralAccCodesResponse" name="sendGeneralAccCodesResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendProjects">
            <wsdl:input message="tns:sendProjects" name="sendProjects"></wsdl:input>
            <wsdl:output message="tns:sendProjectsResponse" name="sendProjectsResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBankAccounts">
            <wsdl:input message="tns:sendBankAccounts" name="sendBankAccounts"></wsdl:input>
            <wsdl:output message="tns:sendBankAccountsResponse" name="sendBankAccountsResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode1s">
            <wsdl:input message="tns:sendDetailedAccCode1s" name="sendDetailedAccCode1s"></wsdl:input>
            <wsdl:output message="tns:sendDetailedAccCode1sResponse" name="sendDetailedAccCode1sResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendPlans">
            <wsdl:input message="tns:sendPlans" name="sendPlans"></wsdl:input>
            <wsdl:output message="tns:sendPlansResponse" name="sendPlansResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="reserveSanaInfo">
            <wsdl:input message="tns:reserveSanaInfo" name="reserveSanaInfo"></wsdl:input>
            <wsdl:output message="tns:reserveSanaInfoResponse" name="reserveSanaInfoResponse"></wsdl:output>
            <wsdl:fault message="tns:MisMatchNationalCodeException" name="MisMatchNationalCodeException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
            <wsdl:fault message="tns:OpenSanaInfoExistException" name="OpenSanaInfoExistException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode2s">
            <wsdl:input message="tns:sendDetailedAccCode2s" name="sendDetailedAccCode2s"></wsdl:input>
            <wsdl:output message="tns:sendDetailedAccCode2sResponse" name="sendDetailedAccCode2sResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode3s">
            <wsdl:input message="tns:sendDetailedAccCode3s" name="sendDetailedAccCode3s"></wsdl:input>
            <wsdl:output message="tns:sendDetailedAccCode3sResponse" name="sendDetailedAccCode3sResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode4s">
            <wsdl:input message="tns:sendDetailedAccCode4s" name="sendDetailedAccCode4s"></wsdl:input>
            <wsdl:output message="tns:sendDetailedAccCode4sResponse" name="sendDetailedAccCode4sResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode5s">
            <wsdl:input message="tns:sendDetailedAccCode5s" name="sendDetailedAccCode5s"></wsdl:input>
            <wsdl:output message="tns:sendDetailedAccCode5sResponse" name="sendDetailedAccCode5sResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="finishRequest">
            <wsdl:input message="tns:finishRequest" name="finishRequest"></wsdl:input>
            <wsdl:output message="tns:finishRequestResponse" name="finishRequestResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendAccountFlows">
            <wsdl:input message="tns:sendAccountFlows" name="sendAccountFlows"></wsdl:input>
            <wsdl:output message="tns:sendAccountFlowsResponse" name="sendAccountFlowsResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendLedgerAccCodes">
            <wsdl:input message="tns:sendLedgerAccCodes" name="sendLedgerAccCodes"></wsdl:input>
            <wsdl:output message="tns:sendLedgerAccCodesResponse" name="sendLedgerAccCodesResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendAccVouchers">
            <wsdl:input message="tns:sendAccVouchers" name="sendAccVouchers"></wsdl:input>
            <wsdl:output message="tns:sendAccVouchersResponse" name="sendAccVouchersResponse"></wsdl:output>
            <wsdl:fault message="tns:RequestNotOpenException" name="RequestNotOpenException"></wsdl:fault>
            <wsdl:fault message="tns:DataNotFoundException" name="DataNotFoundException"></wsdl:fault>
            <wsdl:fault message="tns:AccessException" name="AccessException"></wsdl:fault>
            <wsdl:fault message="tns:InternalServerException" name="InternalServerException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PushSanaV5ServiceSoapBinding" type="tns:PushSanaV5">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendIncomes">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendIncomes">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendIncomesResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendPrograms">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendPrograms">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendProgramsResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsStatus">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="getRequestsStatus">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="getRequestsStatusResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendAccGroupsCodeList">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendAccGroupsCodeList">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendAccGroupsCodeListResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendCostCenters">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendCostCenters">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendCostCentersResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelRequest">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="cancelRequest">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="cancelRequestResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendOrganizations">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendOrganizations">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendOrganizationsResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendGeneralAccCodes">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendGeneralAccCodes">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendGeneralAccCodesResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendProjects">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendProjects">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendProjectsResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendBankAccounts">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendBankAccounts">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendBankAccountsResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode1s">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendDetailedAccCode1s">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendDetailedAccCode1sResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendPlans">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendPlans">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendPlansResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="reserveSanaInfo">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="reserveSanaInfo">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="reserveSanaInfoResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="MisMatchNationalCodeException">
                <soap12:fault name="MisMatchNationalCodeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="OpenSanaInfoExistException">
                <soap12:fault name="OpenSanaInfoExistException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode2s">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendDetailedAccCode2s">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendDetailedAccCode2sResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode3s">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendDetailedAccCode3s">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendDetailedAccCode3sResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode4s">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendDetailedAccCode4s">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendDetailedAccCode4sResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendDetailedAccCode5s">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendDetailedAccCode5s">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendDetailedAccCode5sResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="finishRequest">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="finishRequest">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="finishRequestResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendAccountFlows">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendAccountFlows">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendAccountFlowsResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendLedgerAccCodes">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendLedgerAccCodes">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendLedgerAccCodesResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sendAccVouchers">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendAccVouchers">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Input_Policy"/>
            </wsdl:input>
            <wsdl:output name="sendAccVouchersResponse">
                <soap12:body use="literal"/>
                <wsp:PolicyReference URI="#Service_Output_Policy"/>
            </wsdl:output>
            <wsdl:fault name="RequestNotOpenException">
                <soap12:fault name="RequestNotOpenException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DataNotFoundException">
                <soap12:fault name="DataNotFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessException">
                <soap12:fault name="AccessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalServerException">
                <soap12:fault name="InternalServerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsp:PolicyReference URI="#Service_Binding_Policy"/>
    </wsdl:binding>
    <wsdl:service name="PushSanaV5Service">
        <wsdl:port binding="tns:PushSanaV5ServiceSoapBinding" name="PushSanaV5Port">
            <soap12:address location="http://localhost:8181/services/PushSanaV5"/>
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy wsu:Id="Service_Binding_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:InitiatorToken>
                            <wsp:Policy>
                                <sp:X509Token
                                        sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:InitiatorToken>
                        <sp:RecipientToken>
                            <wsp:Policy>
                                <sp:X509Token
                                        sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256Sha256Rsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:EncryptSignature/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:AsymmetricBinding>
                <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:MustSupportRefKeyIdentifier/>
                        <sp:MustSupportRefIssuerSerial/>
                    </wsp:Policy>
                </sp:Wss10>
                <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust10>
                <wsaw:UsingAddressing/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="Service_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                </sp:SignedParts>
                <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="Service_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                </sp:SignedParts>
                <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>